* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'GI', 'Courier New';
    font-size: 100%;
}

@font-face {
    font-family: 'GI';
    src: url(../Font/zhcn.ttf);
}

header {
    overflow: hidden;
    width: 100%;
    height: 110px;
    background-color: rgb(37, 236, 236);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0px 7px 0px gray inset;
}

#header__logo, #header__nav{
    display: inline-block;
}

header #header__logo { 
    width: 100px;
    margin-top: 5px;
    margin-left: 150px;
}

header #header__logo img {
    width: 100px;
    object-fit: contain;
    transform: scale(1.6);
}

header .searchBar {
    width: 400px;
    height: 36px;
    display: inline-block;
    background-color: #ff3c78;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

header .searchBar input {
    width: 350px;
    height: 36px;
    padding: 0 10px;
}

.searchBar .searchIcon {
   float: right;
   padding: 9px 17px;
   transition: 0.2s;
}

.searchBar .searchIcon:hover {
    cursor: pointer;
    color: #fff;
}

header #header__nav {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
}

header #header__nav li {
    display: inline-block;
    margin: 0 30px;    
}

header #header__nav li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #0a0a0a;
    position: relative;
}

header #header__nav li a:hover {
    color: rgb(255, 72, 0);
}

header #header__nav li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

header #header__nav li a:hover:after {
    width: 100%;
}

#content {
    margin-top: 110px;
    width: 100%;
    height: 1038px;
    background: radial-gradient(#fff,#f7e2e2);
    text-align: center;
    display: flex;
}

#content .phanloai {
    width: 30%;
    height: auto;
    background-color: rgb(0, 255, 140);
    display: inline-block;
}

.phanloai .loai {
    margin-top: 100px;
    padding: 0 40px;
    text-align: left;
}

.phanloai .loai p {
    padding: 16px 0;
    transition: 0.2s;
}

.phanloai .loai p:hover {
    cursor: pointer;
    font-size: 18px;
    background-color: orange;
}

#content .products-container h2, #content .phanloai h2 {
    padding-top: 30px;
    pointer-events: none;
}

#content .products-container p {
    padding-top: 15px;
    pointer-events: none;
}

#content .products-container {
    width: 100%;
    height: auto;
    display: inline-block;
}

#content .product {
    width: 23%;
    min-width: 250px;
    padding: 16px 18px;
    border: 1px solid #7be68b;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 30px 30px;
    transition: 0.2s ease;
    position: relative;
    display: inline-block;
}

#content .product:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
    transform: translateY(-6px);
}

#content .product .product--hoverEffect {
    width: 100%;
    overflow: hidden;
    background-color: rgb(209, 207, 207);
    border-radius: 20px;
}

#content .product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    background-color: rgb(209, 207, 207);
    transition: 0.2s;
}

#content .product img:hover {
    transform: scale(1.1);
}

#content .product .product-description {
    text-align: start;
    padding: 10px;
}

#content .product .product-description span {
    color: #606063;
    font-size: 12px;;
}

#content .product .product-description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#content .product .product-description i {
    font-size: 12px;
    color: rgb(243,181,25);
}

#content .product .product-description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#content .product a {
    display: inline-block;
    cursor: pointer;
}

#content .product .product-cart-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.phantrang {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.phantrang .button {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: #E91E63;
    transition: 0.2s;
    position: relative;
}

.phantrang .button:hover {
    cursor: pointer;
    border: 1px solid #000;
    color: #fff;
}

.phantrang .button i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content .phantrang p {
    padding: 0;
}

.footer {
	background-color: #151515;
	padding: 80px 0;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
